[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/

# Visual Studio / Rider 관련
.vs/
.idea/
*.csproj
*.sln
*.suo
*.user
*.userprefs

# 에셋 임포트 관련 자동생성 파일
[Aa]ssets/AssetStoreTools*

# OS 관련
.DS_Store
Thumbs.db
